.main {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
    font-family:"palatino linotype", palatino, serif;
}


body
{
    background-color: #FAE5D3;
    color: maroon; 
}

.en-tête {
	font: Futura;
	color: teal;
}

.titre {
    text-align: center;
    font: bold 15px  Calibri; 
    color: maroon;
    margin-right: 1px;   
    text-decoration: none;
}
    
.sous-titre {
	font: Cambria;
	color: green;
}

.paragraphe {
    background-color: white;
    border-width: 0px;
    border-style: outset;
    border-color: black;
}

.iframe-container {
	text-align:center;
    margin-right: auto;
    margin-left: auto;
  	width:100%;
}
